<div class="container">
    <div class="row">
      <div class="col-2">
        <img src="./images/image-product-1.jpg" id="emphasisPicture">
        <div class="smallImg">
          <div class="col-4">
            <img src="./images/image-product-1-thumbnail.jpg" class="smallpictures active" alt="">
          </div>
          <div class="col-4">
            <img src="./images/image-product-2-thumbnail.jpg" class="smallpictures" alt="">
          </div>
          <div class="col-4">
            <img src="./images/image-product-3-thumbnail.jpg" class="smallpictures" alt="">
          </div>
          <div class="col-4">
            <img src="./images/image-product-4-thumbnail.jpg" class="smallpictures" alt="">
          </div>
        </div>
        <div class="carousel mobile" data-carousel>
          <button class="carousel-button prev" data-carousel-button="prev"> <img
              src="./images/icon-previous.svg"></button>
          <button class="carousel-button next" data-carousel-button="next"> <img src="./images/icon-next.svg"></button>
          <ul data-slides>
            <li class="slide" data-active><img src="./images/image-product-1.jpg"> </li>
            <li class="slide"><img src="./images/image-product-2.jpg"></li>
            <li class="slide"><img src="./images/image-product-3.jpg"></li>
            <li class="slide"><img src="./images/image-product-4.jpg"></li>
          </ul>
        </div>
      </div>
      <div class="col-2">
        <small class="companyName">
          Sneaker Company
        </small>
        <h2>
          Fall Limited Edition Sneakers
        </h2>
        <p>
          These low-profile sneakers are your perfect casual wear companion. Featuring a
          durable rubber outer sole, they’ll withstand everything the weather can offer.
        </p>
        <div class="price">
          <span class="productValue">$125.00</span>
          <!-- <span class="percentage"> 50%</span> -->
        </div>
        <!-- <span class="totalValue"> $250.00</span> -->

        <div class="buttonsRow">
          <div class="increment">

            <img src="./images/icon-minus.svg" id="minus">

            <input type="number" name="totalItems" id="totalItems" value="1">

            <img src="./images/icon-plus.svg" id="plus">

          </div>
          <div class="callToAction">
            <button id="btn"><i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
          </div>

        </div>


      </div>
    </div>
  </div>

  <div class="wrapper hide" id="wrapper">
    <div class="carouselContainer">
      <div class="carouselrow">
        <img src="./images/icon-close.svg" alt="close" id="carouselClose">
      </div>
      <div class="carousel" data-carousel>
        <button class="carousel-button prev" data-carousel-button="prev"> <img
            src="./images/icon-previous.svg"></button>
        <button class="carousel-button next" data-carousel-button="next"> <img src="./images/icon-next.svg"></button>
        <ul data-slides>
          <li class="slide" data-active><img src="./images/image-product-1.jpg"> </li>
          <li class="slide"><img src="./images/image-product-2.jpg"></li>
          <li class="slide"><img src="./images/image-product-3.jpg"></li>
          <li class="slide"><img src="./images/image-product-4.jpg"></li>
        </ul>
      </div>
      <div class="smallpitures">
        <div class="col-carousel">
          <img src="./images/image-product-1-thumbnail.jpg" class="smallCarouselPicture active">
        </div>
        <div class="col-carousel">
          <img src="./images/image-product-2-thumbnail.jpg" class="smallCarouselPicture">
        </div>
        <div class="col-carousel">
          <img src="./images/image-product-3-thumbnail.jpg" class="smallCarouselPicture">
        </div>
        <div class="col-carousel">
          <img src="./images/image-product-4-thumbnail.jpg" class="smallCarouselPicture">
        </div>
      </div>
    </div>
  </div>